
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
body{
    background-color: whitesmoke;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono';
}

.jimmy {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    /* background-color: rgba(59, 59, 59, 0.3); */
    /* backdrop-filter: blur(16px);
    filter: saturate(120%) brightness(69%); */
    z-index: 1;
    padding: 1.2rem 3rem;
}

.jimmy img {
    width: 32px;
    height: 32px;
    filter: invert(1);
}
.jimmy div {
    display: flex;
    gap: 0 1rem;
    color: #e12301;
}
@media screen and (max-width: 768px) {
    .jimmy {
        padding: 1rem;
    }
    .jimmy-div h1 {
        display: none;
    }
}
.wall {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url("wall.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.left {
    display: flex;
    flex-direction: column;
}    

.left h1 {
    padding-top: 100px;
    justify-content: center;
    font-size: 60px;
    margin-bottom: 20px;
    /* color: blanchedalmond; */
    outline-color: black;
    background-image: linear-gradient(to right, #ffffff, #ffcccc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    outline: black;
}

.search input{
    flex-direction: column;
    padding-left: 30px;
    border-radius: 10px;
    width: 30vw;
    height: 5vh;
    border-color: pink;
    font-family: 'Open Sans';
    font-size: medium;
    font-weight: 500;
}
.search button{
    color: white;
    padding: px 10px;
    background-color: black;
    border-radius: 10px;    
    width: 10vw;
    height: 5vh;
    border-color: green;    
    
}

.search button:hover{
    background-color: green;
    border-color: green;
    color: white;    
}
@media (max-width: 768px) {
    .left {
        margin: 20px;
        align-items: center;
        justify-content: center;
    }
    .left h1 {
        padding: 0;
        text-align: center;
        font-size: 32px;
    }
    .search input {
        width: 50vw;
    
    }
    .search button {
        width: 20vw;
    }
}

/* .nigga {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

/* .adobo {
    width: 400px;
    height: 300px;
    background-image: url("./image/adobo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
}
.adobo2 {
    padding: 20px;
    height: 300px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
} */

/* .adobo2 h1, p {
    background-image: linear-gradient(to right, red, blue);
    -webkit-background-clip: text;
    font-weight: 900;
}
 */

.right {
    display: flex;
    align-items: center;
    /* padding-right: 50px; */
    /* mix-blend-mode: ; */
}

.right a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
@media (max-width: 768px) {
    .right {
        padding-right: 0;
    }
    .right a {
        font-size: 20px;
    }
}
.right a:hover{
    color: crimson;
}

/* containers */

.main {
    padding: 150px 0;
}
.content_main {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 60px;
    background-color: #f9f9f9;
    border: 2px solid #ddd; 
    border-radius: 15px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    /* margin-top: 150px;
    margin-bottom: 150px; */
}

.container {
    display: flex;
    align-items: center;
}

.container img {
    max-width: 600px; 
    height: auto;
    border-radius: 15px; 
    margin-right: 60px; 
}

.description {
    flex: 1;
}

.description h1 {
    font-size: 48px; 
    margin-top: 0;
    margin-bottom: 30px; 
}

.description h3 {
    font-size: 24px; 
    line-height: 1.8; 
    margin-top: 0;
    margin-bottom: 40px; 
}

.container2 {
    display: flex;
    align-items: center;
    margin-top: 69px;
}

.container2 img {
    max-width: 600px; 
    height: auto;
    border-radius: 15px; 
    margin-left: 60px; 
}

.description2 {
    flex: 1;
}

.description2 h1 {
    font-size: 48px; 
    margin-top: 0;
    margin-bottom: 30px; 
}

.description2 h3 {
    font-size: 24px; 
    line-height: 1.8; 
    margin-top: 0;
    margin-bottom: 40px; 
}


@media screen and (max-width: 768px) {
    .main {
        background-color: #f9f9f9;
    }
    .content_main {
        padding: 30px;
        border: none;
        box-shadow: none;
    }
    .container {
        flex-direction: column;
    }

    .container img {
        width: 80vw;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .description {
        text-align: center;
    }

    .container2 {
        /* display: flex; */
        flex-direction: column-reverse;
    }

    .container2 img {
        width: 80vw;
        margin-left: 0;
        margin-bottom: 30px;
    }
    .description2 {
        text-align: center;
    }
    
}